<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>myChat</title>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3>
                myChat在线聊天室
            </h3>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
        </div>
        <div class="span6">
            <p>
                <strong><span><strong>聊天内容</strong></span></strong>
            </p>
            <p>
                消息1
            </p>

            <div>
                消息2
            </div>

            <div>
                消息3
            </div>

            <div>
                ……
            </div>

        </div>
        <div class="span4">
            <p>
                <span><strong>当前在线用户人数：</strong></span>
            </p>
            <p>
                用户1
            </p>

            <div>
                用户2
            </div>

            <div>
                用户3
            </div>

            <div>
                ……
            </div>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
        </div>
        <div class="span4">
            <form>
                <fieldset>
                    <legend><input type="text" /></legend><button class="btn" type="submit">进入聊天室</button>
                </fieldset>
            </form>
            <form class="form-inline">
                <fieldset>
                    <legend><input type="text" /></legend><button class="btn" type="submit">发送消息</button>
                </fieldset>
            </form>
        </div>
        <div class="span4">
        </div>
    </div>
</div>
</body>
</html>